<section>
  <header class="text-center">
    {{textOrganizer}} <strong>{{dateManagerService.selectedDate | async | moment: 'DD-MM-YYYY' }}</strong>
    <button
      *ngIf="tasksList.listOfTasks.length"
      class="btn btn-remove round-b el-fr"
      title="{{textRemove}}"
      (click)="removeAll()"
    >
      <i class="material-icons">delete</i>
    </button>
    <hr/>
  </header>

  <main>
    <ul *ngIf="tasksList.listOfTasks.length; else noTasks">
      <li *ngFor="let task of tasksList.listOfTasks; let i=index">
        <app-task [indexOfTask]="i+1" [task]="task"></app-task>
      </li>
    </ul>
    <ng-template #noTasks>
      <p class="text-center">{{textNoTasks}}</p>
    </ng-template>
  </main>

  <footer>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <input type="text" formControlName="title">

      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="form.invalid"
        title="{{textAddNewTask}}"
      >
        {{textAddNewTask}}
      </button>
    </form>
  </footer>
</section>
