<section>
  <header class="text-center">
    {{textOrganizer}} <strong>{{dateManagerService.date | async | moment: 'DD-MM-YYYY' }}</strong>
    <hr/>
  </header>

  <main>
    <ul *ngIf="displayedTasks.length; else noTasks">
      <li *ngFor="let task of displayedTasks; let i=index" class="task">
        <span>
          <strong>{{i+1+'.'}}</strong>
          {{task.title}}
        </span>
        <button class="btn btn-remove" title="Remove" (click)="remove(task)">
          <i class="material-icons">delete</i>
        </button>
      </li>
    </ul>
    <ng-template #noTasks>
      <p class="text-center">{{textNoTasks}}</p>
    </ng-template>
  </main>

  <footer>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <input type="text" formControlName="title">

      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="form.invalid"
        title="Add new item"
      >
        {{textAddNewTask}}
      </button>
    </form>
  </footer>
</section>
