<table>
  <thead>
    <tr>
      <th *ngFor="let day of daysOfWeek">
        {{day}}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let week of mainCalendar">
      <td
        *ngFor="let day of week.days"
        [class.disabled]="day.disabled"
        [class.has-tasks]="day.hasTasks"
        (click)="selectDay(day.value)"
      >
        <span
          [class.selected]="day.selected"
          [class.active]="day.active"
        >
          {{day.value | moment:'DD'}}
        </span>
        <span *ngIf="day.hasTasks" class="material-icons marked-day">bookmark</span>
      </td>
    </tr>
  </tbody>
</table>
